<header class="header  ">
  <div class="container d-flex flex-row justify-content-between">
    <figure class="ml-3 mt-2">
      <img src="../../../assets/img/header logo.png" />
      <label class="mx-4 header_logo-name">Spaces</label>
    </figure>

    <nav class="mr-3">
      <ul class="list-group list-group-horizontal header_navigation-list">
        <li class="list-group-item pt-4"><a class="">Home</a></li>
        <li class="list-group-item pt-4"><a class="">about</a></li>
        <li class="list-group-item pt-4"><a class="">contact</a></li>
        <li *ngIf="isLoggedIn" class="list-group-item "><a href="#" class="btn py-2 px-3 rounded">enquire</a></li>
        <li *ngIf="!isLoggedIn" class="list-group-item "><a href="#" class="btn py-2 px-3 ">Login</a></li>
      </ul>
    </nav>
  </div>
</header>
